.brand {
    /*max-width: 33%;*/
    max-height: 4rem;
    
}

.typo {
    max-width: 40rem;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.masonry {
	margin: 1.5rem auto;
	max-width: 768px;
	column-gap: 1.5rem;
}

.item {
	background: #fff;
	padding: 1rem;
	margin: 0 0 1.5rem;
}

@media only screen and (min-width: 768px) {
	.masonry {
		column-count: 3;
	}
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
	.masonry {
		column-count: 2;
	}
}
